/* /Pages/Index.razor.rz.scp.css */
a[id][b-kf1h7uruxe]::before {
    content: '';
    display: block;
    height: 20px;
}
/* /Pages/UW-Madison.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
[b-sy2l7isrkd] .app-bar-shadow {
    
}
