@page "/Blogs/{path}/{name}/view"
@using Markdig

@inject HttpClient Client
@inject MarkdownPipeline MarkdownPipeline

<div class="ma-16 markdown-body;">
    @MarkdownContent
</div>


@code {
    [Parameter]
    public string? Path { get; set; }

    [Parameter]
    public string? Name { get; set; }

    private string Content { get; set; } = "";

    private MarkupString MarkdownContent { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnInitializedAsync();
        Content = await Client.GetStringAsync($"Blogs/{Path}/{Name}");
        MarkdownContent = (MarkupString)Markdown.ToHtml(Content, MarkdownPipeline);
        StateHasChanged();
    }
}