@page "/blog/{path}/{name}"
@page "/blog"
@using Markdig

@inject HttpClient Client
@inject MarkdownPipeline MarkdownPipeline

<MudPaper Class="ma-16">
    <div class="markdown-body; ma-16">
        @MarkdownContent
    </div>
</MudPaper>


@code {
    [Parameter]
    public string? Path { get; set; }
    
    [Parameter]
    public string? Name { get; set; }

    private string Content { get; set; } = "";

    private MarkupString MarkdownContent { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnInitializedAsync();
        Content = await Client.GetStringAsync($"Blogs/{Path}/{Name}");
        MarkdownContent = (MarkupString)Markdown.ToHtml(Content, MarkdownPipeline);
        StateHasChanged();
    }
}